* {
  margin: 0;
  padding: 0;
  background-color: #ecf0f3;
  font-family: sans-serif;
  outline: none;
}
.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculate {
  display: grid;
  grid-template-columns: repeat(4, 68px);
  border-radius: 30px;
  background-color: #ecf0f3;
  padding: 15px;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #ecf0f3;
  border: none;
  color: gray;
  box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
}
button {
  height: 48px;
  width: 48px;
  background-color: #ecf0f3;
  border: none;
  border-radius: 50%;
  margin: 8px;
  font-size: 16px;
  box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
.equal{
  width: 115px;
  border-radius: 40px;
}
