.main-container {
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.box {
  border: 1px solid gray;
  /* padding: 40px; */
}
.box1 {
  grid-row: span 2;
}
.box2 {
  grid-column: span 2;
}
.box9 {
  grid-column-start: -3;
  grid-column-end: -1;
}
