@import "./_variable.scss";
.box {
  // border: 1px solid gray;
  width: 300px;
  // height: 498px;
  border-radius: 4px;
  box-shadow: 0 0px 10px rgb(0, 0, 0, 1);
}
.main-container {
  display: flex;
  column-gap: 46px;
}
.btn {
  border: none;
  background-color: skyblue;
  border-radius: 20px;
  color: white;
  margin-left: 20px;
  // margin-top: 20px;
  text-transform: uppercase;
}
.btn2 {
  @extend .btn;
  background-color: rgb(20, 77, 233);
}
.btn3 {
  @extend .btn;
  background-color: palevioletred;
}
.border {
  .box {
    .head {
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      margin-left: 20px;
      // margin-top: 20px;
    }
  }
}
@mixin move {
  color: gray;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.para {
  @include move;
}
@mixin userimg {
  width: 40px;
  height: 40px;
  border-radius: 55px;
  padding: 20px;
}
.img-container {
  @include userimg;
}
@mixin caption {
  display: flex;
}
.container {
  @include caption;
}
@mixin para {
  font-family: "Roboto", sans-serif;
}
.text {
  @include para;
}
.text2{
  color: gray;
  margin-top: -12px;
}